---
layout: default
---

<div class="well article">
{% assign sortedtags = site.tags | sort %}
{% for tag in sortedtags %}
    <h2><a href ={{ tag[0] | capitalize }} >  {{ tag[0] | capitalize }} </a></h2>
    <ul>
        {% assign pages_list = tag[1] %}
        {% for node in pages_list limit: 5%}
            {% if node.title != null %}
            {% if group == null or group == node.group %}
                <li><span class="post-date">
                    {% assign date_format = site.date_format.tag %}
                    {{ node.date | date: date_format }} </span></span><a href="{{ site.baseurl}}{{ node.url }}"> {{ node.title }}</a></li>
            {% endif %}
            {% endif %}
        {% endfor %}
        <a href ={{ tag[0] | capitalize }}.html >  More... </a>
        {% assign pages_list = nil %}
    </ul>
{% endfor %}    
</div>
