{% assign trans = site.data.values[site.lan] %}
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/profile.png" class="img-circle" width="124" height="124"/>
        </a>
        <!--
        <h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
        </h3>
        -->
    </header>
    <div class="text-center">
        {{ site.description }}
    </div>
</div>


<!--
<div class="sidebar well">
    <h1>{{ trans.recent_posts }}</h1>
    <ul>
        {% for post in site.posts limit:15 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
-->

<div class="sidebar well">
    <h1 align= center>Hello I am Ron</h1>
    <h1><img src="assets/img/fast.png" width="24" height="24"> </td> <td width="150" align= center> Fast </h1>
    <ul>
       <li>Fast understand users and quickly implementation, my highest priority.</li>
    </ul>

    <h1><img src="assets/img/responsive.png" width="24" height="24"> </td> <td width="150" align= center> Responsive </h1>
    <ul>
       <li>Reliable, Flexible and Safe software is my key aim.</li>
    </ul>

    <h1><img src="assets/img/intuitive.png" width="24" height="24"> </td> <td width="150" align= center> Intuitive </h1>
    <ul>
       <li>Strong preference for easy to use, intuitive UX/UI.</li>
    </ul>

    <h1><img src="assets/img/dynamic.png" width="24" height="24"> </td> <td width="150" align= center> Dynamic </h1>
    <ul>
       <li>Good design, Best Architecture lead the software can cath up the changes.</li>
    </ul>
</div>




<div class="sidebar well">

  <div class="skills html" style="width: 80%; height:30px; background-color: #4CAF50;color: rgb(247, 238, 238);">C++ 90%</div>


  <div class="skills css" style="width: 75%; height:30px;background-color: rgb(84, 74, 223);color: rgb(247, 238, 238);"> Qt 85%</div>



  <div class="skills js" style="width: 70%; height:30px;background-color: rgb(88, 162, 204); color: rgb(247, 238, 238);"> VTK 80%</div>

  <div class="skills php" style="width: 65%; height:30px;background-color: rgb(216, 79, 235);color: rgb(247, 238, 238);">Python 75%</div>

  <div class="skills php" style="width: 60%; height:30px;background-color: rgb(51, 66, 207);color: rgb(247, 238, 238);">Flutter 65%</div>

 <img src="assets/img/foot.png"  width="200" height="120">

</div>